/Resources/Public/JS/layerslider.kreaturamedia.jquery.js
/Resources/Public/JS/layerslider.transitions.js
/Resources/Public/JS/greensock.js
/Resources/Public/css/layerslider.css
/Resources/Public/skins/*
.DS_Store