{namespace mru=MINAV\Layerslider\ViewHelpers}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fa fa-eye"></i> <f:translate key="partial.slider.previewpanel.header" /></h4>
    </div>
    <div class="panel-body">
        <div class="">

            <p><f:translate key="partial.slider.previewpanel.text1" /></p>
            <p><f:translate key="partial.slider.previewpanel.previewwidth.text" /> <f:form.textfield id="previewPanelSize"  class="form-control input" style="width: 100px; display: inline-block;" size="5" property="options.previewPanelSize" /> px <button class="btn btn-default "><i class="fa fa-refresh"></i> <f:translate key="partial.slider.previewpanel.button.update" /></button><br />
            </p>
            <f:if condition="{slider.slides}">
                <div class="inner container-outerwrap"  style="{f:if(condition: '{slider.options.previewPanelSize}', then:'width: {slider.options.previewPanelSize}px')}">

                    <div id="layerslider-container">

                        <div id="layerslider-{slider.uid}" class="layerslider-{slider.uid}" style="width: {options.width}; height: {options.height};  margin: 0 auto;">

                            <f:for each="{slider.slides}" as="s" iteration="i">

                                <div class="ls-slider-{slider.uid}-slide-{s.uid} ls-slide{f:if(condition: '{s.configuration.cssClass}', then:' {s.configuration.cssClass}')}" style="" data-ls="{f:render(partial:'Slide/Slideattributes', arguments:'{s:s}', section:'data')}">
                                    <f:if condition="{s.falimage}">
                                        <f:image src="{s.falimage.originalResource.originalFile.uid}" class="ls-bg" />
                                    </f:if>

                                    <f:if condition="{s.hidden}==1">
                                        <div class="ls-l" style="background: red; color: #FFF; width:150px; padding: 15px 0; vertical-align: middle; text-align: center; font-size: 24px; border: 1px solid black;">preview</div>
                                    </f:if>


                                    <f:for each="{s.items}" as="item">


                                        <f:if condition="{item.link}">
                                            <f:then>
                                                <a href="#" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}" id="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}">

                                                    <f:if condition="{0:item.contenttype} == {0:'image'}">
                                                        <f:if condition="{item.falimage}">
                                                            <img style="{f:if(condition: '{item.configuration.width}', then:'width:{item.configuration.width}px;')}" src="{f:uri.image(src:'{item.falimage.originalResource.originalFile.uid}')}" alt="" title="" />
                                                        </f:if>
                                                    </f:if>

                                                    <f:if condition="{0:item.contenttype} == {0:'paragraph'}">
                                                        <p>{item.content}</p>
                                                    </f:if>

                                                    <f:if condition="{0:item.contenttype} == {0:'span'}">
                                                        <span>{item.content}</span>
                                                    </f:if>

                                                    <f:if condition="{0:item.contenttype} == {0:'h1'}">
                                                        <h1>{item.content}</h1>
                                                    </f:if>
                                                    <f:if condition="{0:item.contenttype} == {0:'h2'}">
                                                        <h2>{item.content}</h2>
                                                    </f:if>
                                                    <f:if condition="{0:item.contenttype} == {0:'h3'}">
                                                        <h3>{item.content}</h3>
                                                    </f:if>
                                                    <f:if condition="{0:item.contenttype} == {0:'h4'}">
                                                        <h4>{item.content}</h4>
                                                    </f:if>
                                                    <f:if condition="{0:item.contenttype} == {0:'h5'}">
                                                        <h5>{item.content}</h5>
                                                    </f:if>
                                                    <f:if condition="{0:item.contenttype} == {0:'h6'}">
                                                        <h6>{item.content}</h6>
                                                    </f:if>
                                                    <f:if condition="{0:item.contenttype} == {0:'html'}">
                                                        <div><f:format.html parseFuncTSPath="">{item.content}</f:format.html></div>
                                                    </f:if>

                                                </a>

                                            </f:then>
                                            <f:else>
                                                <f:if condition="{0:item.contenttype} == {0:'image'}">
                                                    <f:if condition="{item.falimage}">
                                                        <img id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}" src="{f:uri.image(src:'{item.falimage.originalResource.originalFile.uid}')}" alt="" title="" />
                                                    </f:if>
                                                </f:if>

                                                <f:if condition="{0:item.contenttype} == {0:'paragraph'}">
                                                    <p id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</p>
                                                </f:if>

                                                <f:if condition="{0:item.contenttype} == {0:'span'}">
                                                    <span id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</span>
                                                </f:if>

                                                <f:if condition="{0:item.contenttype} == {0:'h1'}">
                                                    <h1 id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</h1>
                                                </f:if>
                                                <f:if condition="{0:item.contenttype} == {0:'h2'}">
                                                    <h2 id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</h2>
                                                </f:if>
                                                <f:if condition="{0:item.contenttype} == {0:'h3'}">
                                                    <h3 id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</h3>
                                                </f:if>
                                                <f:if condition="{0:item.contenttype} == {0:'h4'}">
                                                    <h4 id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</h4>
                                                </f:if>
                                                <f:if condition="{0:item.contenttype} == {0:'h5'}">
                                                    <h5 id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</h5>
                                                </f:if>
                                                <f:if condition="{0:item.contenttype} == {0:'h6'}">
                                                    <h6 id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}">{item.content}</h6>
                                                </f:if>
                                                <f:if condition="{0:item.contenttype} == {0:'html'}">
                                                    <div id="layer-{item.slide.uid}-{item.uid}" class="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'class')}" data-ls="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'data')}" style="{f:render(partial:'Item/Layerattributes', arguments:'{item:item}', section:'style')}"><f:format.html parseFuncTSPath="">{item.content}</f:format.html></div>
                                                </f:if>
                                            </f:else>
                                        </f:if>

                                    </f:for>

                                    <f:if condition="{s.configuration.linkSlide}">
                                        <a href="" class="ls-link"></a>
                                    </f:if>
                                </div>

                            </f:for>
                        </div>
                    </div>
                </div>

            </f:if>
            <br />
        </div>

        <script type="text/javascript">

            var theSlider;
            var layersliderId = "layerslider-{slider.uid}";
            var ls = $("<div/>").prop("id", layersliderId);

            $(document).ready(function(){
                theSlider = $('#'+layersliderId).layerSlider({
                            skinsPath: <f:if condition="{options.skinsPath}"><f:then>"{options.skinsPath}"</f:then><f:else>"{f:uri.resource(path:'skins/')}"
                </f:else></f:if>,
                <f:if condition="{options.skin}">skin : "{options.skin}",</f:if>

                <f:if condition="{options.firstLayer}">firstSlide : "{options.firstLayer}",</f:if>
                <f:if condition="{options.autoPlayVideos}"><f:then>autoPlayVideos : true,</f:then><f:else>autoPlayVideos : false,</f:else></f:if>
                <f:if condition="{options.autoPauseSlideshow}"><f:if condition="{0: options.autoPauseSlideshow} == {0:'auto'}"><f:then>autoPauseSlideshow: 'auto',</f:then><f:else>autoPauseSlideshow: {options.autoPauseSlideshow},</f:else></f:if></f:if>
                <f:if condition="{options.youtubePreview}">youtubePreview : "{options.youtubePreview}",</f:if>
                <f:if condition="{options.autoStart}"><f:then>autoStart : true,</f:then><f:else>autoStart : false,</f:else></f:if>
                <f:if condition="{options.twoWaySlideshow}"><f:then>twoWaySlideshow : true,</f:then><f:else>twoWaySlideshow : false,</f:else></f:if>
                <f:if condition="{options.randomSlideshow}"><f:then>randomSlideshow : true,</f:then><f:else>randomSlideshow : false,</f:else></f:if>
                <f:if condition="{options.imgPreload}"><f:then>imgPreload : true,</f:then><f:else>imgPreload : false,</f:else></f:if>
                <f:if condition="{options.pauseOnHover}"><f:then>pauseOnHover : true,</f:then><f:else>pauseOnHover : false,</f:else></f:if>
                //                <f:if condition="{options.animateFirstLayer}"><f:then>animateFirstLayer : true,</f:then><f:else>animateFirstLayer : false,</f:else></f:if>
                <f:if condition="{options.loops}">loops : {options.loops},</f:if>
                <f:if condition="{options.forceLoopNum}"><f:then>forceLoopNum : true,</f:then><f:else>forceLoopNum : false,</f:else></f:if>
                <f:if condition="{options.showBarTimer}"><f:then>showBarTimer : true,</f:then><f:else>showBarTimer : false,</f:else></f:if>
                <f:if condition="{options.showCircleTimer}"><f:then>showCircleTimer : true,</f:then><f:else>showCircleTimer : false,</f:else></f:if>
                <f:if condition="{options.keybNav}"><f:then>keybNav : true,</f:then><f:else>keybNav : false,</f:else></f:if>
                <f:if condition="{options.navPrevNext}"><f:then>navPrevNext : true,</f:then><f:else>navPrevNext : false,</f:else></f:if>
                <f:if condition="{options.navStartStop}"><f:then>navStartStop : true,</f:then><f:else>navStartStop : false,</f:else></f:if>
                <f:if condition="{options.navButtons}"><f:then>navButtons : true,</f:then><f:else>navButtons : false,</f:else></f:if>
                <f:if condition="{options.hoverPrevNext}"><f:then>hoverPrevNext : true,</f:then><f:else>hoverPrevNext : false,</f:else></f:if>
                <f:if condition="{options.hoverBottomNav}"><f:then>hoverBottomNav : true,</f:then><f:else>hoverBottomNav : false,</f:else></f:if>
                <f:if condition="{options.thumbnailNavigation}">thumbnailNavigation : "{options.thumbnailNavigation}",</f:if>
                <f:if condition="{options.tnWidth}">tnWidth : "{options.tnWidth}",</f:if>
                <f:if condition="{options.tnHeight}">tnHeight : "{options.tnHeight}",</f:if>
                <f:if condition="{options.tnContainerWidth}">tnContainerWidth : "{options.tnContainerWidth}",</f:if>
                <f:if condition="{options.tnActiveOpacity}">tnActiveOpacity : {options.tnActiveOpacity},</f:if>
                <f:if condition="{options.tnInactiveOpacity}">tnInactiveOpacity : {options.tnInactiveOpacity},</f:if>
                <f:if condition="{options.slideDelay}">slideDelay : {options.slideDelay},</f:if>
                <f:if condition="{options.durationIn}">durationIn : {options.durationIn},</f:if>
                <f:if condition="{options.durationOut}">durationOut : {options.durationOut},</f:if>
                <f:if condition="{options.delayIn}">delayIn : {options.delayIn},</f:if>
                <f:if condition="{options.delayOut}">delayOut : {options.delayOut},</f:if>
                <f:if condition="{options.easingIn}">easingIn : "{options.easingIn}",</f:if>
                <f:if condition="{options.easingOut}">easingIn : "{options.easingOut}",</f:if>
                <f:if condition="{options.responsive}"><f:then>responsive : true,</f:then><f:else>responsive : false,</f:else></f:if>
                <f:if condition="{options.responsiveUnder} > 0"><f:then>responsiveUnder : {options.responsiveUnder},</f:then><f:else>responsiveUnder : false,</f:else></f:if>
                <f:if condition="{options.responsiveUnder} > 0"><f:then>layersContainer : {options.responsiveUnder},</f:then></f:if>
                <f:if condition="{options.touchNav}"><f:then>touchNav : true,</f:then><f:else>touchNav : false,</f:else></f:if>
                <f:if condition="{options.globalBGColor}">globalBGColor : "{options.globalBGColor}",</f:if>
                <f:if condition="{0:options.globalBGImage}=={0:'false'}"><f:then>globalBGImage: false,</f:then><f:else></f:else>globalBGImage : "{options.globalBGImage}",</f:if>
                lastNothingForSyntaxComma: false
                });
            });

        </script>
    </div>
</div>





		