<f:section name="data">
{f:if(condition: '{s.configuration.deeplink}', then:'deeplink: {s.configuration.deeplink};')}
{f:if(condition: '{s.configuration.slideDelay}', then:'slideDelay: {s.configuration.slideDelay};')}
{f:if(condition: '{s.configuration.use2d3dtransition}', then:'transition2d: {s.configuration.2dtransition};
transition3d: {s.configuration.3dtransition};', else: '{f:if(condition:\'{s.configuration.slideIn}\', then:\'durationin: {s.configuration.slideIn};\')}
{f:if(condition:\'{s.configuration.slideInEasing}\', then:\'easingin: {s.configuration.slideInEasing};\')}
{f:if(condition:\'{s.configuration.delayIn}\', then:\'delayin: {s.configuration.delayIn};\')}
{f:if(condition:\'{s.configuration.slideOut}\', then:\'durationout: {s.configuration.slideOut};\')}
{f:if(condition:\'{s.configuration.slideOutEasing}\', then:\'easingout: {s.configuration.slideOutEasing};\')}
{f:if(condition:\'{s.configuration.delayOut}\', then:\'delayout: {s.configuration.delayOut};\')}'    )}
</f:section>
